<%= link_to "新規投稿", "/post/new" %>
<h1>投稿一覧</h1>

<div id="content"></div>

<% @posts.each do |post| %>
	<p><%= post.title %></p>
<% end %>

<div>$ \frac{1}{2} $</div>

<script type="text/javascript">
	// window.test = marked('<%= j @test %>')
	var test = '# Marked in browser\n\nRendered by **marked**.';
	document.getElementById('content').innerHTML = marked(test);
</script>