<h1>管理者タグ</h1>
<%= link_to "新規投稿", "/admin/post/new" %>

<h1>投稿一覧</h1>

<% @posts.each do |post| %>
	<%= link_to(post.title,"/post/#{post.id}/detail") %>
	<input type=button value="削除">
	<br>
<% end %>

<script>
	// var test = "# h1 $ \\alpha$";
	// document.getElementById('test4').innerHTML = marked(test);
	// メモ
	// 数式を書くときは"$$"で囲む
	// fracなどを使用したい時は　\\ を頭に書く(通常のtexと違い2回必要)
</script>