/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#wf-sawarabigothic{
	font-family: 'Sawarabi Mincho', sans-serif;
}
#m_plus_rounded_1c{
	font-family: 'M PLUS Rounded 1c', sans-serif;
}
#sawarabi_gothic{
	font-family: 'Sawarabi Gothic', sans-serif;
}

body h1,h2,h3,h4,h5,h6,p,a{
	font-family: 'Sawarabi Gothic', sans-serif;
}

.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}

header{
	background-color: #55c500;
	width: 100%;
	height: 100px;
	display: table;
}
header p{
	display: table-cell;
	color: white;
	vertical-align: middle;
	border: solid;
	margin: auto;
	font-size: 32px;
	padding-left: 10%;
}
header #wf-sawarabigothic{
	color: white;
}
body{
	width: 100%;
}
body a{
	text-decoration: none;
}

.pagination>li>a {          
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {     
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {        
  border-radius: 15px;    /*角を丸くする*/
}

/* mobile L (425px) */
@media screen and (max-width: 426px){
	header p{
		font-size: 24px;
	}
}